.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
TDK.iml
WifiDirectDemo/.idea/.name
WifiDirectDemo/.idea/compiler.xml
WifiDirectDemo/.idea/copyright/profiles_settings.xml
WifiDirectDemo/.idea/encodings.xml
WifiDirectDemo/.idea/gradle.xml
WifiDirectDemo/.idea/libraries/support_v4_18_0_0.xml
WifiDirectDemo/.idea/misc.xml
WifiDirectDemo/.idea/modules.xml
WifiDirectDemo/.idea/scopes/scope_settings.xml
WifiDirectDemo/.idea/vcs.xml
WifiDirectDemo/.idea/workspace.xml
WifiDirectDemo/WifiDirectDemo.iml
WifiDirectDemo/app/app.iml
WifiDirectDemo/app/build.gradle
WifiDirectDemo/app/build/generated/source/buildConfig/androidTest/debug/com/example/android/wifidirect/test/BuildConfig.java
WifiDirectDemo/app/build/generated/source/buildConfig/debug/com/example/android/wifidirect/BuildConfig.java
WifiDirectDemo/app/build/generated/source/r/debug/com/example/android/wifidirect/R.java
WifiDirectDemo/app/build/intermediates/assets/debug/sample_file.txt
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/BuildConfig.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/DeviceDetailFragment$1.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/DeviceDetailFragment$2.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/DeviceDetailFragment$3.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/DeviceDetailFragment$FileServerAsyncTask.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/DeviceDetailFragment.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/DeviceListFragment$1.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/DeviceListFragment$DeviceActionListener.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/DeviceListFragment$WiFiPeerListAdapter.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/DeviceListFragment.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/FileTransferService.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/R$attr.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/R$color.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/R$dimen.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/R$drawable.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/R$id.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/R$layout.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/R$menu.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/R$string.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/R.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/WiFiDirectActivity$1.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/WiFiDirectActivity$2.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/WiFiDirectActivity$3.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/WiFiDirectActivity$4.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/WiFiDirectActivity.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/WiFiDirectBroadcastReceiver.class
WifiDirectDemo/app/build/intermediates/dex/debug/classes.dex
WifiDirectDemo/app/build/intermediates/incremental/aidl/androidTest/debug/dependency.store
WifiDirectDemo/app/build/intermediates/incremental/aidl/debug/dependency.store
WifiDirectDemo/app/build/intermediates/incremental/mergeAssets/androidTest/debug/merger.xml
WifiDirectDemo/app/build/intermediates/incremental/mergeAssets/debug/merger.xml
WifiDirectDemo/app/build/intermediates/incremental/mergeResources/androidTest/debug/merger.xml
WifiDirectDemo/app/build/intermediates/incremental/mergeResources/debug/merger.xml
WifiDirectDemo/app/build/intermediates/manifests/androidTest/debug/AndroidManifest.xml
WifiDirectDemo/app/build/intermediates/manifests/full/debug/AndroidManifest.xml
WifiDirectDemo/app/build/intermediates/pre-dexed/debug/support-v4-18.0.0-158f1bab9581a0da8ab67d95c6aa5718ba0b55b6.jar
WifiDirectDemo/app/build/intermediates/res/debug/drawable-hdpi-v4/ic_action_discover.png
WifiDirectDemo/app/build/intermediates/res/debug/drawable-hdpi-v4/ic_action_on_off.png
WifiDirectDemo/app/build/intermediates/res/debug/drawable-hdpi-v4/ic_launcher.png
WifiDirectDemo/app/build/intermediates/res/debug/drawable-hdpi-v4/icon.png
WifiDirectDemo/app/build/intermediates/res/debug/drawable-ldpi-v4/ic_action_discover.png
WifiDirectDemo/app/build/intermediates/res/debug/drawable-ldpi-v4/ic_action_on_off.png
WifiDirectDemo/app/build/intermediates/res/debug/drawable-ldpi-v4/ic_launcher.png
WifiDirectDemo/app/build/intermediates/res/debug/drawable-ldpi-v4/icon.png
WifiDirectDemo/app/build/intermediates/res/debug/drawable-mdpi-v4/ic_action_discover.png
WifiDirectDemo/app/build/intermediates/res/debug/drawable-mdpi-v4/ic_action_on_off.png
WifiDirectDemo/app/build/intermediates/res/debug/drawable-mdpi-v4/ic_launcher.png
WifiDirectDemo/app/build/intermediates/res/debug/drawable-mdpi-v4/icon.png
WifiDirectDemo/app/build/intermediates/res/debug/drawable-xhdpi-v4/ic_action_discover.png
WifiDirectDemo/app/build/intermediates/res/debug/drawable-xhdpi-v4/ic_action_on_off.png
WifiDirectDemo/app/build/intermediates/res/debug/drawable-xhdpi-v4/ic_launcher.png
WifiDirectDemo/app/build/intermediates/res/debug/drawable/details_view.xml
WifiDirectDemo/app/build/intermediates/res/debug/drawable/machine.png
WifiDirectDemo/app/build/intermediates/res/debug/drawable/section_header.xml
WifiDirectDemo/app/build/intermediates/res/debug/layout-land/main.xml
WifiDirectDemo/app/build/intermediates/res/debug/layout-large-v4/main.xml
WifiDirectDemo/app/build/intermediates/res/debug/layout/device_list.xml
gradlew.bat
WifiDirectDemo/app/build/intermediates/res/debug/layout/device_detail.xml
WifiDirectDemo/app/build/intermediates/res/debug/layout/main.xml
WifiDirectDemo/app/build/intermediates/res/debug/layout/row_devices.xml
WifiDirectDemo/app/build/intermediates/res/debug/menu/action_items.xml
WifiDirectDemo/app/build/intermediates/res/debug/values/values.xml
WifiDirectDemo/app/build/intermediates/resources/resources-debug-androidTest.ap_
WifiDirectDemo/app/build/intermediates/resources/resources-debug.ap_
WifiDirectDemo/app/build/outputs/apk/app-debug-unaligned.apk
WifiDirectDemo/app/build/outputs/apk/app-debug.apk
WifiDirectDemo/app/build/outputs/logs/manifest-merger-debug-report.txt
WifiDirectDemo/build/intermediates/dex-cache/cache.xml
WifiDirectDemo/build/intermediates/model_data.bin
WifiDirectDemo/gradle/wrapper/gradle-wrapper.jar
WifiDirectDemo/gradle/wrapper/gradle-wrapper.properties
WifiDirectDemo/gradlew
WifiDirectDemo/import-summary.txt
WifiDirectDemo/local.properties
WifiDirectDemo/settings.gradle
app/proguard-rules.pro
app/app.iml
app/build.gradle
app/libs/eventbus-2.4.0.jar
app/src/androidTest/java/hu/nik/uniobuda/tdk/ApplicationTest.java
build.gradle
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
settings.gradle
newtdk.iml
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/CameraActivity$1.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/CameraActivity$2.class
WifiDirectDemo/app/build/intermediates/classes/debug/com/example/android/wifidirect/CameraActivity.class
WifiDirectDemo/app/build/intermediates/pre-dexed/debug/support-v4-18.0.0-4f2ca221a68ae6d75313a5f2c34403e45f1f83e3.jar
WifiDirectDemo/build/intermediates/gradle_project_sync_data.bin
WifiDirectDemo/app/build/intermediates/res/debug/layout/camera.xml
